<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
  <title><%=title%></title>
  <script>
    window.scriptKey = "<%=scriptKey%>";
  </script>
  <link href="<%=path%>/assets/css/style.css" rel="stylesheet">
  <script src="<%=path%>/assets/js/app.js" defer></script>
</head>