body {
  margin: 0;
  padding: 0;
  border: none;
}
/* image */
img,
/* block */
div, p, blockquote,
/* heading */
h1, h2, h3, h4, h5, h6,
/* list */
ul, ol, li, dl, dt, dd,
/* form */
form, fieldset, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
table {
  font-size: 100%;
}
hr.separator {
  display: none;
}

input[type="text"],
button,
select,
textarea {
  resize: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
select::-ms-expand {
  display: none;
}

img {
  vertical-align: bottom;
}

* {
  box-sizing: border-box;

  &::-moz-selection {
    background-color: #b7aa9b;
    color: #fff;
  }

  &::selection {
    background-color: #b7aa9b;
    color: #fff;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"],
button,
select,
textarea {
  resize: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
