{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-async-to-generator"],
  "env": {
    "production": {
      "presets": [
        [
          "minify",
          {
            "builtIns": false,
            "evaluate": false,
            "mangle": false
          }
        ]
      ],
      "plugins": ["transform-remove-console"]
    }
  }
}
