html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}

#svgAnimationLine {
  stroke-width: 3px;
  stroke: #000;
  fill: none;
  stroke-dasharray: 0 0 0 6;
  stroke-linecap: round;
}

#svgAnimationMaskLine {
  stroke-width: 3px;
  stroke: #fff;
  fill: none;
}
